*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  transition: 0.5s;
}

html {
  height: 100%;
}
.hidden{
  display: none;
}
.flex_column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background_center{
  background: center center no-repeat;
  //background-size: cover;
}

body {
  font-size: 16px;
  min-height: 100%;
  font-family: $font_bold;
}
.main_wrapper{
  width: 100%;
  max-width: 1170px;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.off_scrool{
  overflow-y: hidden;
  position: relative;
}
.off_scrool:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
}
.link_group {
  display: flex;
  align-items: center;
}
.link_wrap{
  display: flex;
  align-items: center;
}
.link_wrap:before{
  content: '';
  height: 5px;
  width: 5px;
  background: $yellow;
  display: block;
}
.link_wrap:first-child:before{
  display: none;
}
.hover_links{
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  padding: 0.86em 1.15em 0.8em;
  cursor: pointer;
}
.hover_links:hover{
  color: $yellow!important;
}

.button_smaller_text{
  background: $yellow;
  padding: 1.75em 2.93em;
  border: none;
  cursor: pointer;
}
.button_bigger_text{
  background: $yellow;
  padding: 0.8em 1.8em;
  border: none;
  font-family: $font_bold;
  font-size: 1.4em;
  cursor: pointer;
}
.chevrone_vertical{
  width: 3.75em;
  height: 3.75em;
  @extend .flex_center;
  background: $yellow;
  color: white;
  &:hover{
    color: $dark_black;
  }
}

.white_sect_little_title{
  color: $dark_black;
}
.white_sect_big_title{
  color: black;
  font-size: 1.8em;
  margin-top: 0.85em;
}
.white_sect_yellow_line{
  border-bottom: 2px solid $yellow;
  width: 11em;
  margin-top: 1.3em;
}
.white_sect_text{
  font-family: $font_light;
  color: $dark_black;
  max-width: 60em;
  line-height: 1.5em;
  margin-top: 1.3em;
  text-align: center;
}