.footer{
  @extend .flex_column;
  color: white;
  background: $light_black;
  .copyright{
    font-family: $font_light;
    margin-top: 2em;
  }
  .yellow_word{
    color: $yellow;
  }
  .socials{
    @extend .flex_center;
    margin-top: 1.2em;
  }
  .social{
    font-size: 1.2em;
    margin: 0 0.5em;
    color: white;
    &:hover:before{
      color: $yellow;
    }
  }
  .chevrone_vertical{
    margin-top: 2em;
  }
}