$dark_green: #122a2f;
$light_green: #11343a;
$yellow: #ffe600;
$light_black: #131a1d;
$dark_black: #131316;
$font_bold: oswaldbold, sans-serif;
$font_regular: oswaldregular, sans-serif;
$font_light: oswaldlight, sans-serif;