.who_love_to{
  @extend .flex_center;
  text-align: center;
  .main_wrapper{
    @extend .flex_column;
  }
  .white_sect_little_title{
    margin-top: 4em;
  }
  .swiper-container{
    margin-top: 5.2em;
      width: 100%;
      height: 13.3em;
  }
  .button{
    position: absolute;
    bottom: 3.5em;
    height: 1.875em;
    width: 1.875em;
    @extend .flex_center;
    color: white;
    background: $yellow;
    cursor: pointer;
    z-index: 10;
  }
  .button-next{
    left: 46%;
  }
  .button-prev{
    right: 46%;
  }
}

@media screen and (max-width: 1000px) {
.who_love_to{
  .button-next{
    left: 20%;
  }
  .button-prev{
    right: 20%;
  }
}
}